<div class="contenedor_rutina">
    <div class="formulario">
        <div>
            <h1>¡Cree una nueva rutina!</h1>
        </div>
        <form [formGroup]="rtn" (ngSubmit)="Agregar_rutina()">
            <mat-form-field class="example-form">
                <mat-label> Rutina </mat-label>
                <mat-select #mode value="side" formControlName="rutina">
                    <mat-option *ngFor="let item of Rutinas" [value]="item" >{{item}}</mat-option>
            </mat-select>
            </mat-form-field>
            <mat-form-field class="example-form">
                <mat-label>Semanas</mat-label>
                <input matInput autocomplete="off" placeholder="Ex. 5 semanas" formControlName="semana">
            </mat-form-field>
            <mat-form-field class="example-form">
                <mat-label>Eliga los dias:</mat-label> 
                <mat-select #mode value="side" formControlName="dia">
                    <mat-option *ngFor="let item of Dias_S" [value]="item" >{{item}}</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="example-form">
                <mat-label>Horas: </mat-label>
                <mat-select #mode value="side" formControlName="hora">
                    <mat-option *ngFor="let item of horasDC" [value]="item" >{{item}}</mat-option>
                </mat-select>
            </mat-form-field>
            <div class="Button_form">
                <button mat-raised-button type="submit">Aceptar</button>
                <button mat-raised-button type="reset">Cancelar</button>
            </div>
        </form>
    </div>
    <div class="TABLA_RUTINA ">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z5">
            <!-- Rutina Column -->
            <ng-container matColumnDef="Rutina">
            <th mat-header-cell *matHeaderCellDef> Rutina </th>
            <td mat-cell *matCellDef="let element"> {{element.Rutina}} </td>
            </ng-container>
        
            <!-- Semanas Column -->
            <ng-container matColumnDef="Semanas">
            <th mat-header-cell *matHeaderCellDef> Semanas </th>
            <td mat-cell *matCellDef="let element"> {{element.Semana}} </td>
            </ng-container>
        
            <!-- Dias Column -->
            <ng-container matColumnDef="Dias">
            <th mat-header-cell *matHeaderCellDef> Dias </th>
            <td mat-cell *matCellDef="let element"> {{element.Dia}} </td>
            </ng-container>
        
            <!-- Horas Column -->
            <ng-container matColumnDef="Horas">
            <th mat-header-cell *matHeaderCellDef> Horas/Duracion de rutina </th>
            <td mat-cell *matCellDef="let element"> {{element.Hora}} </td>
            </ng-container>
        
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
</div>
